Source: golang-pkg-pcre
Maintainer: Florian Weimer <fw@deneb.enyo.de>
Section: devel
Priority: optional
Build-Depends: debhelper (>= 8),
 golang-go,
 libpcre3-dev

Package: golang-pkg-pcre
Architecture: any
Depends: golang-go
Description: Perl 5 Compatible Regular Expression Library (Go interface)
