#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	gomake -C src/pkg/pcre

override_dh_auto_install:
	gomake -C src/pkg/pcre DESTDIR=$(CURDIR)/debian/golang-pkg-pcre \
	  install-debian
	install -D src/pkg/pcre/pcre.go \
	  debian/golang-pkg-pcre/usr/lib/golang/src/pkg/pcre/pcre.go
